body{
    background-color:lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 4rem;
    height: 90%;
    width: 90%;
    background-color: #fff8f5;
    border-radius: 1.5rem;
}
.header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    
}

#heading{
    color: #f041b0;
    width: 50%;
    text-align: center;

}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    
}
#hegit{
color: #f041b0;
border: 0.1rem solid #f041b0;
border-radius: 1.7rem;
padding: 0.5rem 0.9rem 0.5rem 0.9rem;

}

.humburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#contact{
    padding-left: 1rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 70px 40px;
    gap: 40px;
}

.images{
    height : 22rem;
    width: 100%;
    overflow: hidden;
    
}
img{
    height : 22rem;
    width: 22rem;
    border-radius: 1rem;
}

.mahandi h1{
    color: #f041b0;
    font-size: 2.8rem;
}

.button {
    color: white;
    background-color: #f041b0;
    border-radius: 1.2rem;
    padding: 0.8rem  1.5rem 0.8rem 1.5rem;
    border: 1px solid #f041b0;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1rem;
}
.mahandi p {
    font-size: 1.2rem;
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#card1{
    background-color: lightpink;
    border-radius: 1rem;
    height: 18rem;
    width: 17rem;
    text-align: center;
    margin-top: 2rem;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 50%, #ffffff 100%);
}
#dark{
    color: #f041b0;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 7rem;
    font-size: 1.5rem;
    gap: 50px;
}

.contact h2{
    color:#f041b0;
}


 #success-msg{
    color: purple;
    font-size: 1rem;
}


form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
#contact-form p{
    font-size: 0.8rem;
    padding-bottom: 0;
}
.bttn{
    color: white;
    background-color: #f041b0;
    border-radius: 1.2rem;
    padding: 0.8rem  1.5rem 0.8rem 1.5rem;
    border: 1px solid #f041b0;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color:white;
        width: 180px;
        top: 70px;
        right: 15px;
        border: 1px solid #f2c2d4;
        border-radius: 0.5rem;
        padding: 10px 0;
        z-index: 100;
        
    }
    .navbar a {
        color: #333;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        font-size: 16px;
    }
    .navbar a:hover {
        background-color: #fdf0f5;
        color: #d63384;
    }
    .navbar.active {
        display: block;
        
    }

    .humburger {
        display: block;
    }

    .content {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }
    .mahandi p {
    font-size: 0.9rem;
}
.mahandi h1{
    font-size: 2rem;
}
/* img{
    height : 17rem;
    width: 17rem;
    border-radius: 1rem;
} */
   
.contact {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
}

}

@media (max-width: 1024px) {
    .content {
        width: 90%;
    }

    img {
    height : 17rem;
    width: 17rem;
    border-radius: 1rem;
}
}